EACL_DATAHIKE_DEMO_MODE=production
EACL_DATAHIKE_DEMO_HOST=127.0.0.1
EACL_DATAHIKE_DEMO_PORT=8088
EACL_DATAHIKE_DEMO_STORE_BACKEND=s3
EACL_DATAHIKE_DEMO_STORE_ID=00000000-0000-4000-8000-000000000000
EACL_DATAHIKE_DEMO_S3_BUCKET=REPLACE_WITH_PRIVATE_BUCKET
EACL_DATAHIKE_DEMO_S3_REGION=REPLACE_WITH_AWS_REGION
EACL_DATAHIKE_DEMO_S3_PATH_STYLE_ACCESS=false
EACL_DATAHIKE_DEMO_SECURITY_KEY=REPLACE_WITH_32_OR_MORE_RANDOM_CHARACTERS
EACL_DATAHIKE_DEMO_ADMIN_TOKEN=REPLACE_WITH_A_DIFFERENT_32_OR_MORE_RANDOM_TOKEN
EACL_DATAHIKE_DEMO_NREPL_PORT=7888
EACL_DATAHIKE_DEMO_REQUEST_TIMEOUT_MS=30000
EACL_DATAHIKE_DEMO_MAX_BODY_BYTES=65536
EACL_DATAHIKE_DEMO_MAX_SEED_SERVERS=1000000
EACL_DATAHIKE_DEMO_SEED_TRANSACTION_SIZE=250
EACL_DATAHIKE_DEMO_SEED_PAUSE_MS=50
EACL_DATAHIKE_DEMO_MAX_COUNT_LIMIT=1000000
EACL_DATAHIKE_DEMO_MAX_EACL_CONCURRENCY=4
EACL_DATAHIKE_DEMO_CACHE_MAX_ENTRIES=512
EACL_DATAHIKE_DEMO_CACHE_PROJECTION_MAX_WEIGHT=4194304
EACL_DATAHIKE_DEMO_CACHE_DENOTATION_MAX_WEIGHT=4194304
EACL_DATAHIKE_DEMO_CACHE_ANSWER_MAX_WEIGHT=16777216
EACL_DATAHIKE_DEMO_CACHE_MANAGED_PROOF_MAX_ATOMS=256
